.chart-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.header-line {
  margin-left: 20px;
}

.logo-sales-history {
  height: 50px;
}

.profile-circle {
  font-size: 30px;
}

.arrow-button-container {
  margin: 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.charts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.chart-container {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  box-sizing: border-box;
}

.chart-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.chart-line,
.chart-pie,
.chart-bar {
  flex: 1;
  margin: 0 10px;
}

.Down-Chart {
  margin-top: -50px;
  position: absolute;
  bottom: 200px;
  right: 480px;
  font-size: 30px;
  cursor: pointer;
  color: #b30000;
}

.footer-chart {
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .chart-row {
    flex-direction: column;
  }

  .chart-line,
  .chart-pie,
  .chart-bar {
    margin: 10px 0;
  }
}
